%html
%head
%title Jaelle

%body
%div{:id => "nav-container", :class => "twelve columns"}

%section{:id => "nav-container", :class => "twelve columns"}

/ #content
/   .left.column
/     %h2 Welcome to our site!
/     %p print_information
/   .right.column

.container
	.row
/SIDEBAR

	%header
	.sidebar.two.columns
	.logo-container
	<img src="img/logo.svg" alt="Jaelle" />
	%p{:id => "tagline"} Sharing stories with hand-crafted jewelry
