/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/flowers-bg.png") repeat; 
  	margin: 0;
	}

/* =========================================================
 * Content container
 * ========================================================= */

.content-container {
	padding: 10px 30px 100px 30px;
	background-color: rgba(255, 255, 255, 0.8);
	}
	
	.content-container p, h1, h2, h3 {
 		color: #333333;
 		}
	
.category-header {
	text-align: center;
	font-size: em;
	padding: 50px 0px;
	letter-spacing: 5px;
	}
	
/*.custom-content {
	font-size: 1.2em;
	padding-bottom: 30px;
	}*/
	
.bold {
	font-weight: bold;
	}
	
/* =========================================================
 * DELETE THIS AFTER
 * ========================================================= */

 #who, #what, #why, #contact-info {
	font-size: 1.2em;
	border-top: 1px solid #aaa;
	padding-top: 50px;
	padding-bottom: 50px;
}


#intro-message {
	/*font-size: 1.3em;*/
	margin: auto;
	width: 50%;
	/*border: 1px solid red;*/
	text-align: center;
	margin-bottom: 50px;
}

.step-title {
	font-size: 1.5em;
	}