/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/bg-phonebooth.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
 	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	
  	margin: 0;
	}

/* =========================================================
 * Content container
 * ========================================================= */

.content-container {
	padding: 10px 30px 100px 30px;
	background-color: rgba(255, 255, 255, 0.8);
	}
	
	.content-container p, h1, h2, h3 {
 		color: #333333;
 		}
	
.category-header {
	text-align: center;
	font-size: 2em;
	padding: 50px 0px;
	letter-spacing: 5px;
	}
	
.about-content {
	font-size: 1.2em;
	padding-bottom: 30px;
	}
	
.bold {
	font-weight: bold;
	}
	
/* =========================================================
 * Product Images
 * ========================================================= */

/*.product-photo {
	padding: 0px 5px;
	}
	
a.photo-link:hover {
	opacity: 0.8;
	}*/