
/* Top Img */
#index-img1 {
    position: relative;
    text-align: left;
    float: left;
}

    .desc1 {
        position: absolute;
        top: 70px;

        padding: 50px 30px;

        background: url("../img/circle1.png") no-repeat;
        background-position: 0px 10px;
        background-size: 100%;
    }

    .desc1 h3, .desc2 h3 {
        font-size: 1.6em;
        letter-spacing: 3px;
        margin: 20px 0 10px;
    }

    .desc1 p, .desc2 p {
        background-color: #fff;
        color: #333;
        margin: 0;
        padding-left: 5px;

        font-size: 0.8em;
        text-transform: uppercase;
    }

/* Img 2 */
#index-img2 {
    position: relative;
    text-align: left ;
}

    .desc2 {
        position: absolute;
        top: 500px;

        padding: 50px 30px;

        background: url("../img/circle1.png") no-repeat;
        background-position: 0px 0px;
        background-size: 100%;
    }

/* Pink Square*/
#index-promotion {
    color: #333333;
    position: relative;

    padding: 100px 0px;
    -moz-box-sizing: border-box;
    -o-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing: border-box;

    background: url("../img/index-pinksq.jpg") no-repeat; 
}

    #index-promotion span{ 
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;

        z-index: 1;
    }   

    #index-promotion h1 {
        display: inline-block;
        font-size: 3em;
        padding: 0 0 20px;
        margin: 50px 0 5px;
        letter-spacing: 3px;
        border-bottom: 1px solid #333;
    }

    #index-promotion h3 {
        display: inline-block;
        font-size: 2em;
        padding: 20px 20px;
        margin: 20px 0;

        border: 5px double #333;
    }

    #index-promotion p {
        font-size: 1.5em;
        margin: 0 0 30px;
    }

    .bracelet-icon {
        width: 30%;
        position: relative;
    }
    
    
    
    
/* =========================================================
 * Media Queries
 * ========================================================= */

@media screen and (max-width: 600px) {

    /* makes kiwi bracelet chunk disappear */
    .offset-two {
    	display: none;
    }
    
    #index-promotion span{ 
        position:absolute; 
        width:100%;
        height:100%;
        top:0;
        left: 0;

        z-index: 1;
    }   

    #index-promotion h1 {
        display: inline-block;
        font-size: 2em;
        padding: 0 0 20px;
        margin: 50px 0 5px;
        letter-spacing: 3px;
        border-bottom: 1px solid #333;
    }

    #index-promotion h3 {
        display: inline-block;
        font-size: 2em;
        padding: 20px 20px;
        margin: 20px 0;

        border: 5px double #333;
    }

    .bracelet-icon {
    	position: absolute;
    	top: 1em;
    	left: 35%;
    }
    
}