/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/flowers-bg.png") repeat; 
  	margin: 0;
	}

/* =========================================================
 * Content container
 * ========================================================= */

.content {
	padding: 10px 30px 100px 30px;
	margin: 0 10px;
	/*background-color: rgba(255, 255, 255, 0.7);*/
}
	
.content p, h1, h2, h3 {
 	/*color: #333333;*/
 	color: #e8e8e8;

 }
	
.category-header {
	text-align: center;
	font-size: 2em;
	padding: 50px 0px;
	letter-spacing: 5px;
}

.product-text {
	padding: 0px 10px;
}
	
.product-name {
	font-size: 3em;
	color: rgb(244, 136, 113);
	border-bottom: 1px solid #444;
	padding-bottom: 40px;
}
	
.product-price {
	/*font-size: 1.5em;*/
	/*color: #aaa;*/
}
	
.more-products {
	padding: 50px 0px;
}
	
.more-products img {
	width: 32%;
}

.specs{
	width: 30px;
	/*height: 100%;*/
}

.spec-icon {	
	margin-right: 10px;
}

.desc {
	margin-bottom: 20px;
}

.product-blogpost {
	font-style: italic;
	margin-bottom: 40px;
}



/* =========================================================
 * Product Images Gallery
 * ========================================================= */

.image-gallery {
  	width:100%;
  	padding: 0px 10px 0px 0px;
	}
	
.image-gallery .big-image {
  	width:100%;
  	height:auto;
  	padding-top: 20px;
  	margin:0 auto; 
	}
	
.image-gallery .big-image img { 
	width: 100%;
  	display:none;
  	margin:0 auto;
	}
	
/*Selected image display*/
/*.image-gallery .big-image img:target { display:block; }*/

/*on select image display none the default image*/
/*.image-gallery .big-image img:target ~ img#default { display:none; }*/

/*Show Default Image in first load*/
/*.image-gallery .big-image img#default { display:block; }*/


.image-gallery ul { 
	margin-top:15px; 
	}
	
.image-gallery li {
	float:left;
	width: 25%;
	text-align: center;
	
	}

.image-gallery li {
	opacity: 0.5;

}
  	
.image-gallery li:hover {
	transition: all 0.5s;
	opacity: 1;
	}

.selected {
	opacity: 1;
	outline: 5px solid #00A99D;
	outline-offset: -5px;
}

.img-link {
	width: 90%;
	/*border: 5px solid transparent;*/
	}


/*reset CSS*/
.image-gallery ul,li { 
	list-style:none;
	padding:0;
	}



/* =========================================================
 * Add to Cart Button
 * ========================================================= */

 .buynow {
 	margin-top: 20px;
 	padding: 10px;
 	border: 2px solid #00A99D;
 	width: 30%;
 	text-align: center;
 }

.quantity {
 	margin-top: 50px;
	width: 20%;
}

 .buynow:hover {
 	background-color: #00A99D;
 	color: #fff;
 }


	
/* =========================================================
 * Media Query Styles
 * ========================================================= */

/* Smartphones */
@media only screen
and (max-width: 480px) {
	/*
	.column, .columns {
		float: none;
	}
	*/
	
	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
		width: 100%;
	}	
		
	.container-all { 
		width: 100% !important;
		padding: 0px 0px !important;
		margin: 0px !important;
		}
		
	h1, h2, h3 {
		line-height: 1.2em;
		}
		
	.logo-container {
		text-align: center;
		padding: 10px;
		}	
	
		.logo-container img{
			width: 30%;
			}
	
	#tagline {
		display: none;
	}
	
	.search-cart {
		text-align: center;
		}
	
	.icon img{
		width: 10%;
		padding: 10px 0px;
		margin: 0px 30px;
		}		
	
}

.content-title-wrapper {
	position: relative;
	text-align: center;

	margin: 0 auto;

	background: url("../img/bracelets-title.jpg") no-repeat;
	background-size: 100%;
}

.category-header {
	display: inline-block;
	margin: 100px auto;

	font-size: 2em;
	padding: 20px;
	letter-spacing: 5px;

	color: #000;
	background-color: rgba(255,255,255,0.7);
	border: 5px double #000;
}

@media screen and (max-width: 600px) {

	.content-title {
		display: none;
	}

	.content-title-wrapper {
		background: rgba(0,0,0,0);
	}

	.category-header {
		position: relative;
		margin: 0;
	}

	.content {
		padding: 0;
		margin: 0;
	}