/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/flowers-bg.png") repeat; 
  	
  	margin: 0;
	}




/* =========================================================
 * Content container
 * ========================================================= */

.content {
	padding: 10px 30px 100px 30px;
	margin: 0 10px;
	/*background-color: rgba(255, 255, 255, 0.7);*/
	/*overflow: auto;*/
	}
	
	.content p, h1, h2, h3 {
 		/*color: #333333;*/
 		color: #e8e8e8;
 		}
	
.category-header {
	text-align: center;
	font-size: 2em;
	padding: 50px 0px;
	letter-spacing: 5px;
	}
	
.product-info {
	font-size: 1.2em;
	padding-bottom: 30px;
	}
	
.bold {
	font-weight: bold;
	}


/* =========================================================
 * Filters
 * ========================================================= */

.filter	{
	float: left;
	margin-top: 10px;
	margin-bottom: 30px;
	}

a.button {
	color: #333333;
	border: 2px solid #999999;
	padding: 3px 10px 1px;
	margin: 7px 10px 27px;
	float: left;
	text-align: center;
	}

	.button:hover {
		background-color: #999999;
		color: #ffffff;
	}
	
/* =========================================================
 * Product Images
 * ========================================================= */


.bracelet-icon {
	width: 50%;
}

 .collections {
 	/*background-color: red;*/
 	/*padding-left: 15px;*/
 	padding-left: 15px;
 }

.columns {
	/*position: relative;*/
	}

.norm {
	width: 93%;
}

.featured {
	width: 98.25%;
	height: 100%;
	vertical-align: middle;
	margin-bottom: 20px;
	/*background-color: rgba(255,255,255,0.3);*/
	background-color: rgba(0,0,0,0.3);
}

.big-box img {
	/*width: 48.25%;*/
	float: left;
	}

.box img {
	/*width: 93%;*/
	float: left;
	}

.box:hover {
	opacity: 0.8;
	}

.desc {
	float: left;
	width: 100%;
	/*background-color: rgba(255,255,255,0.3);*/
	background-color: rgba(0,0,0,0.3);
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	}

.feat-desc {
	float: left;
	margin-top: 5%;
	/*background-color: rgba(255,255,255,0.3);*/
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	}

/*	.big-desc {
		float: left;
		text-align: center;
		width: 50%;
		padding: 10px;
		}*/

	.feat-desc h2 {
 		color: #F48871;
		letter-spacing: 3px;
		font-size: 2em;
		}

.small {
	margin-bottom: 20px;
	}

	.small h3 {
		letter-spacing: 2px;
		font-size: 0.9em;
		}

.small p {
	color: #F48871;
	font-weight: bold;
	font-size: 1.5em;
	line-height: 0em;
	}


/* =========================================================
 * Form/Dropdown Filters CSS
 * ========================================================= */

select {
	font-family: "Perspective Sans", sans-serif; 
	width: 20%;
/*	margin-bottom: 15px;*/
	margin-right: 15px;
	padding: .6em .6em .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 1em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

select:focus {
	outline:0;
	/*outline: thin dotted;*/
	border-color:#00A99D;
}

option {
	font-family: "Perspective Sans", sans-serif;
	font-size: 1em;
}

option:focus {
 	background-color: #00A99D;
 	color: #fff;
}


/* =========================================================
 * Search Speech Bubble
 * ========================================================= */

input {
	font-family: "Perspective Sans", sans-serif; 
	margin-top: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 1em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* =========================================================
 * Sorting thingy
 * ========================================================= */
 .item {
 	display: inline;
 }


/* =========================================================
 * Content Header (the one with the image)
 * ========================================================= */
 .content-title-wrapper {
	position: relative;
	text-align: center;

	margin: 0 auto;

	background: url("../img/bracelets-title.jpg") no-repeat;
	background-size: 100%;
}

.category-header {
	display: inline-block;
	margin: 100px auto;

	font-size: 2em;
	padding: 20px;
	letter-spacing: 5px;

	color: #000;
	background-color: rgba(255,255,255,0.7);
	border: 5px double #000;
}

@media screen and (max-width: 600px) {

	.item {
		width: 50%;
	} 

	.featured {
		width: 96.5%;
	}

	.big-box img {
		/*width: 96.5%;*/
		float: left;
		margin-bottom: 0;
	}

	.big-desc {
		float: left;
		width: 96.5%;
		margin-top: 0;
		margin-bottom: 20px;
		padding: 10px;
	}

	.content-title {
		display: none;
	}

	.content-title-wrapper {
		background: rgba(0,0,0,0);
	}

	.category-header {
		position: relative;
		margin: 0;
	}

	.content {
		padding: 0;
		margin: 0;
	}

	.item {
		display: inline;
	}

	.bracelet-icon {
		display: none;
	}

/*	.norm {
		width: 50%;
	}*/

}