/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/flowers-bg.png") repeat; 
  	margin: 0;
	}

/* =========================================================
 * Content container
 * ========================================================= */

.content {
	padding: 10px 30px 100px 30px;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.7);
}
	
.content p, h1, h2, h3 {
 	color: #333333;
 }
	
.category-header {
	text-align: center;
	font-size: 2em;
	padding: 50px 0px;
	letter-spacing: 5px;
}

.product-text {
	padding: 0px 10px;
}
	
.product-name {
	font-size: 2em;
}
	
.product-price {
	font-size: 1.5em;
	border-bottom: 1px solid #000000;
	padding-bottom: 20px;
}
	
.more-products {
	padding: 50px 0px;
}
	
.more-products img {
	width: 32%;
}

.specs{
	padding-top: 10px;
}

/* =========================================================
 * Product Images Gallery
 * ========================================================= */

.image-gallery {
  	width:100%;
  	padding: 0px 10px 0px 0px;
	}
	
.image-gallery .big-image {
  	width:100%;
  	height:auto;
  	padding-top: 20px;
  	margin:0 auto; 
	}
	
.image-gallery .big-image img { 
	width: 100%;
  	display:none;
  	margin:0 auto;
	}
	
/*Selected image display*/
.image-gallery .big-image img:target { display:block; }

/*on select image display none the default image*/
.image-gallery .big-image img:target ~ img#default { display:none; }

/*Show Default Image in first load*/
.image-gallery .big-image img#default { display:block; }


.image-gallery ul { 
	margin-top:15px; 
	}
	
.image-gallery li {
	float:left;
  	/*background-color:rgba(255,255,255,0);*/
	width: 25%;
	text-align: center;
	
	}

.image-gallery li a {
	transition: all 0.5s;
	opacity: 0.5;

}
  	
.image-gallery li a:hover {
	opacity: 1;
	}

.img-link:hover{
	border: 5px solid #00A99D;
}

.img-link {
	width: 90%;
	border: 5px solid #aaa;    
	}

.img-link img:active {
	display: block;
	border: 5px solid #00A99D;
}

#one:target ~ li a[href="#one"],
#two:target ~ li a[href="#two"],
#three:target ~ li a[href="#three"],
#four:target ~ li a[href="#four"],
#five:target ~ li a[href="#five"] {
  opacity: 1;
  border: 5px solid #00A99D;
}

/*reset CSS*/
.image-gallery ul,li { 
	list-style:none;
	padding:0;
	}


/* =========================================================
 * Add to Cart Button
 * ========================================================= */

 .buynow {
 	margin-top: 20px;
 	padding: 10px;
 	border: 2px solid #00A99D;
 	width: 30%;
 	text-align: center;
 }

.quantity {
 	margin-top: 50px;
	width: 20%;
}

 .buynow:hover {
 	background-color: #00A99D;
 	color: #fff;
 }


/* Add quantity */
input[type=text],
input[type=email],
input[type=search],
input[type=tel],
select,
textarea {
	font-family: "Perspective Sans", sans-serif; 
	width: 100%;
	margin-bottom: 15px;
	padding: .6em .6em .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 1em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* When an input box is in focus, highlight it in teal */
input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
	outline:0;
	/*outline:thin dotted \9;*/
	outline: thin dotted #333; /*is this what the previous line was supposed to be?*/
	border-color:#00A99D;
}

input[type=file]:focus
input[type=radio]:focus,
input[type=checkbox]:focus {
	outline: thin dotted #333;
	outline: 1px auto #00A99D;
}

	
/* =========================================================
 * Media Query Styles
 * ========================================================= */

/* Smartphones */
@media only screen
and (max-width: 480px) {
	.column, .columns {
		float: none;
	}
	.one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
		width: 100%;
	}	
		
	.container-all { 
		width: 100% !important;
		padding: 0px 0px !important;
		margin: 0px !important;
		}
		
	h1, h2, h3 {
		line-height: 1.2em;
		}
		
	.logo-container {
		text-align: center;
		padding: 10px;
		}	
	
		.logo-container img{
			width: 30%;
			}
	
	#tagline {
		display: none;
	}
	
	.search-cart {
		text-align: center;
		}
	
	.icon img{
		width: 10%;
		padding: 10px 0px;
		margin: 0px 30px;
		}		
	
}