/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/flowers-bg.png") repeat;   	
  	margin: 0;
	}

/* =========================================================
 * Content container
 * ========================================================= */

.content {
	padding: 10px 30px 100px 30px;
	margin: 0 10px;
	/*background-color: rgba(255, 255, 255, 0.7);*/
	}
	
	.content p, h1, h2, h3 {
 		/*color: #333333;*/
 		color: #e8e8e8;
 		}
	
.category-header {
	text-align: center;
	font-size: 2em;
	padding: 50px 0px;
	letter-spacing: 5px;
	}
	
.product-info {
	font-size: 1.2em;
	padding-bottom: 30px;
	}
	
.bold {
	font-weight: bold;
	}
	
/* =========================================================
 * Customs Sections CSS
 * ========================================================= */

 #who img, #what img, #why img, #contact-info img {
	width: 100%;
 }

 #message, #who, #what, #why, #contact-info {
	font-size: 1.2em;
	border-bottom: 1px solid #aaa;
	padding-top: 50px;
	padding-bottom: 50px;
}

#who img, #what img, #why img, #contact-info img {
	width: 100%;
}

.message {
	/*font-size: 1.3em;*/
	margin: auto;
	width: 70%;
	/*border: 1px solid red;*/
	text-align: center;
	/*padding-top: 10px;*/
	padding-bottom: 50px;
}

.step-title {
	color: #00A99D;
	font-size: 1.5em;
	text-align: center;
	padding-bottom: 50px;
	}

h3 {
	color: #777;
	margin: auto;
	padding: 10px 0px;
	letter-spacing: 2px;
	font-size: 0.9em;
	text-align: center;
	}

/* =========================================================
 * Customs Sections CSS
 * ========================================================= */
 .who, .jewelry {
 	text-align: center;
 	font-size: 1.5em;
 	font-style: italic;
 }



/* =========================================================
 * Tell Me a Story CSS
 * ========================================================= */
.story {
	margin-top: 15px;
}

.story-desc {
	text-align: right;
	margin-right: 15px;
}



/* =========================================================
 * Contact Form Elements CSS
 * ========================================================= */
/*.face {
	height: 10%;
}*/

input[type=text],
input[type=email],
input[type=search],
input[type=tel],
select,
textarea {
	background-color: #E6E6E6;
	font-family: "Perspective Sans", sans-serif; 
	width: 100%;
	margin-bottom: 15px;
	padding: .6em .6em .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	font-size: 1em;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
/*	-webkit-transition: .3s linear border;
	-moz-transition: .3s linear border;
	-ms-transition: .3s linear border;
	-o-transition: .3s linear border;
	transition: .3s linear border;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;*/
	box-sizing: border-box;
}

/* When an input box is in focus, highlight it in teal */
input[type=text]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=tel]:focus,
select:focus,
textarea:focus {
	outline: 0;
	border-color:#00A99D;
}

input[type=file]:focus
input[type=radio]:focus,
input[type=checkbox]:focus {
	outline: thin dotted #333;
	outline: 1px auto #00A99D;
}



/* =========================================================
 * Send Button CSS
 * ========================================================= */

.sendButton {
	margin: auto;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
}


button {
	font-family: "Perspective Sans", sans-serif;
	font-size: 100%;
 	padding: 10px;
 	border: 2px solid #00A99D;
 	width: 20%;
 	text-align: center;
 	margin: auto;
}


button:hover {
 	background-color: #00A99D;
 	color: #fff;
}



/* =========================================================
 * Who the Order is for + Choosing type of Jewelry CSS
 * ========================================================= */
.radio > input[type=radio]{
	display:none;
}

input[type=radio] + img{
	cursor:pointer;
	border:5px solid transparent;
	transition: all 0.5s;
	opacity: 0.5;
}

input[type=radio]:checked + img{
	border:5px solid #00A99D;
	opacity: 1;
}

input[type=radio]:hover + img {
	border: 5px solid #00A99D;
	opacity: 1;
}

.forWho {
	width: 50%;
	margin: auto;
}

.contact-form {
	width: 50%;
	margin: auto;
}

.present, .contactme {
	width: 25%;
	margin: auto;
	margin-bottom: 20px;
}

/*reset CSS*/
ul,li { 
	list-style:none;

	}


/*header*/

.content-title-wrapper {
	position: relative;
	text-align: center;

	margin: 0 auto;

	background: url("../img/custom-title.jpg") no-repeat;
	background-size: 100%;
}

.category-header {
	display: inline-block;
	margin: 100px auto;

	font-size: 2em;
	padding: 20px;
	letter-spacing: 5px;

	color: #000;
	background-color: rgba(255,255,255,0.7);
	border: 5px double #000;
}

@media screen and (max-width: 600px) {

	.content-title {
		display: none;
	}

	.content-title-wrapper {
		background: rgba(0,0,0,0);
	}

	.category-header {
		position: relative;
		margin: 0;
	}

	.content {
		padding: 0;
		margin: 0;
	}
}