/* =========================================================
 * Base styles
 * ========================================================= */
 
html, body {
	background: url("../img/flowers-bg.png") repeat; 
  	margin: 0;
	}

/* =========================================================
 * Content container
 * ========================================================= */

.content {
	padding: 10px 30px 100px 30px;
	margin: 0 10px;
	background-color: rgba(255, 255, 255, 0.7);
}
	
.content p, h1, h2, h3 {
 		color: #333333;
 }
	
.category-header {
	text-align: center;
	font-size: 2em;
	padding: 50px 0px;
	letter-spacing: 5px;
}
	
.product-info {
	font-size: 1.2em;
	padding-bottom: 30px;
}
	
.bold {
	font-weight: bold;
}

/* =========================================================
 * Who are We Content 
 * ========================================================= */
#who-img{
	width: 100%;
	height: 100%;
}

.who-content{
	margin-top: 0;
	padding-left: 3%
}




/* =========================================================
 * Materials Content 
 * ========================================================= */
.mat-header, .process-header, .socmed-header{
	margin-top: 100px;
}

.mat-content{
	padding-top: 2%;
}

.circular-container{
	width: 62.5%;
	height: 70px;
	margin: 0 auto;
}

.circular1{
	margin: 2%;
	background-image: url("../img/about/leatherCord.jpg");
	float: left;
	background-position: 60% 15%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.circular2{
	margin: 2%;
	background-image: url("../img/about/beads.jpg");
	float: left;
	background-position: 10% 70%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.circular3{
	margin: 2%;
	background-image: url("../img/about/chain.jpg");
	float: left;
	background-position: 25% 45%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}

.circular4{
	margin: 2%;
	background-image: url("../img/about/yarn.jpg");
	float: left;
	background-position: 5% 200%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}	

.circular5{
	margin: 2%;
	background-image: url("../img/about/cutter.jpg");
	float: left;
	background-position: 83% 83%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}	
.circular6{
	margin: 2%;
	background-image: url("../img/about/clasps.jpg");
	float: left;
	background-position: 5% 45%;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
}	
/* =========================================================
 * SocMed Icons
 * ========================================================= */

/* overriding width for .one class from grid.css */
.one { 
		width: 4em;
}

#facebook {
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/about/fb.png') right bottom;
		background-repeat: no-repeat;
		text-indent: -99999px;
}
	
#facebook:hover {
	background-position: right top;
}

#tumblr {
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/about/tmblr.png') right bottom;
		background-repeat: no-repeat;
		text-indent: -99999px;
}
	
#tumblr:hover {
	background-position: right top;
}

#pinterest {
		display: block;
		width: 30px;
		height: 30px;
		background: url('../img/about/pntrst.png') right bottom;
		background-repeat: no-repeat;
		text-indent: -99999px;
}
	
#pinterest:hover {
	background-position: right top;
}

/*
#facebook, #tumblr, #pinterest{
	width: 30px;
	height: 30px;
	padding: 0px 5px;
} 

*/

#tumblr, #pinterest{
	margin-left: 0%;
}


	